shell-integration = "zsh"
font-family = "Hasklug Nerd Font SemBd"
font-size = "20"
adjust-cell-width = "-10%"
scrollback-limit = 1_000_000_000
copy-on-select = clipboard

# window

# macos-titlebar-style = hidden
# background-opacity = 0.95
# background-blur-radius = 20
# window-save-state = always
# window-height = 14
# window-width = 180
window-padding-x = 16
# window-padding-y = 24
window-padding-y = 16
window-padding-balance = true
window-colorspace = display-p3
mouse-scroll-multiplier = 2
mouse-hide-while-typing = true

keybind = cmd+left=previous_tab
keybind = cmd+right=next_tab
keybind = ctrl+left=goto_split:left
keybind = ctrl+down=goto_split:bottom
keybind = ctrl+right=goto_split:right
keybind = ctrl+up=goto_split:top

keybind = alt+down=jump_to_prompt:1
keybind = alt+up=jump_to_prompt:-1
keybind = shift+enter=text:\n
